@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.set-font{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* Navbar section */
.nav-container{
    max-width: 1440px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul{
    display: flex;
    margin-right: 34px;
    gap: 34px;
    list-style: none;
}

.nav-container a{
    color: black;
    text-decoration: none;
}

/* Banner section */
.banner-container{
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid tomato;
    margin-top:50px;
    display: flex;
    align-items: center;
    gap: 130px;
}

.preebook{
    max-width: 582px;
}

.prebook button{
    border-radius: 41px;
    background: rgb(224, 44, 109);
    color: white;
    padding: 10px 24px 10px 24px;
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.camera{
    background-image: url('./logos/camera-background.png');
    background-repeat: no-repeat;
}

/* Sponsor Section */
.sponsor-container{
    max-width: 1110px;
    margin: 0 auto;
    border: 2px solid tomato;
    margin-top: 65px;
    display: flex;
    justify-content: space-around;
}

/* Responsive style for phone */
@media screen and (max-width: 576px){
    .nav-container{
        flex-direction: column;
    }

    .nav-container a{
        font-size: 12px;
    }

    .banner-container{
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 65px;
    }

    .camera{
        width: 380px;
    }
    .banner-container img{
        width: 100%;
    }

    .prebook button{
        border-radius: 41px;
        background: rgb(224, 44, 109);
        color: white;
        padding: 10px 24px 10px 24px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }

    .prebook button>img{
        width: 16px;
        height: 14px;
        margin-left: 5px;
        align-items: center;
        justify-content: center;
    }

    .sponsor-container{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}